.logo_div {
    width: 122px;
}
.logo_div img {
    height: 60px;
}
@media only screen and (max-width: 768px) {
    .logo_div {
        width: 30px;
    }
}
@media only screen and (max-width: 480px) {
    .logo_div img {
        height: 50px;
    }
}
