h1 {
    font-size: 58px;
    font-family: Stalemate-Regular;
    margin: 0px;
}
a {
    text-decoration: none;
}
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
    }
}
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 40px;
    }
}